doctype xml
rss( version="2.0", xmlns:content="http://ashdown-api.azurewebsites.net/lfcfeeds", xmlns:atom='http://www.w3.org/2005/Atom' )
    channel
        title LFCFeedsTile
        each News, i in newsItems
            item 
                title= News.Title
                description!= News.Text
                if News.Breaking
                    breaking Breaking News
                if News.Transfer
                    transfer Transfer News
                
